mat-card {
    max-width: 50%;
}

mat-form-field {
    width: 100%;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

mat-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
:host {
  display: flex;
  flex: 1;
  justify-content: center;
}

h2{
    text-align: center;
}

button{
    margin-top: 10px;
}