<div class="login-container margin-v-4" *ngIf="loading" fxLayout="column" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div id="login" fxLayout="column" *ngIf="!loading" fxLayoutAlign="center stretch">
    <mat-expansion-panel [expanded]="true" >
      <h2>Log in</h2>
      <form name="loginForm" [formGroup]="loginForm">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="login()" [disabled]="loginForm.invalid" type="button">
          LOGIN
        </button>
      </form>
    </mat-expansion-panel>
</div>
