<div class="content">
  <div class="row margin-bottom-gap-20">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Book management</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form class="mat-white-bg p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
            [formGroup]="form">
            <!--ROW-->
            <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!--Name field-->
              <mat-form-field fxLayout="column wrap" fxLayoutAlign="start" fxFlex="50">
                <input matInput placeholder="Name" formControlName="name">
              </mat-form-field>
                
              <!--Author field-->
              <mat-form-field fxLayout="column wrap" fxLayoutAlign="start" fxFlex="50">
                <input matInput placeholder="Author" formControlName="author">
              </mat-form-field>
            </div>

            <!--ROW-->
            <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!--Publisher field-->
              <mat-form-field fxLayout="column wrap" fxLayoutAlign="start" fxFlex="50">
                <input fxLayoutAlign="start stretch" matInput placeholder="Publisher" formControlName="publisher">
              </mat-form-field>

              <!--Genre list field-->
              <ng-select class="ng-select-book-search" fxLayout="column wrap" fxLayoutAlign="start center"  fxFlex="50" 
                  [items]="bookGenreDataSource.getDataList() | async"
                  [multiple]="false" [closeOnSelect]="true" [loading]="bookGenreDataSource.loading$ | async"
                  placeholder="Book genre" appendTo="body" bindLabel="name" bindValue="id" formControlName="bookGenre"
                  appearance="outline">
              </ng-select>
            </div>

            <!--ACTION BUTTONS -->
            <div fxLayout="row wrap" fxLayoutAlign="end" fxFlex="1 0 auto">
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onSearchForm()" [disabled]="!form.valid">Search</button>
                <button class="margin-left-gap-10" mat-raised-button color="red" (click)="onResetForm()">Reset</button>
              </mat-card-actions>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
  </div>

  <div class="row margin-bottom-gap-5">
      <button mat-raised-button color="primary" (click)="addNewItem()"><i class="material-icons">add</i> Add book</button>
  </div>

  <div class="table-container mat-elevation-z8">
    <mat-progress-bar mode="indeterminate" *ngIf="(bookDataSource.loading$ | async)"></mat-progress-bar>
    <mat-progress-bar mode="determinate" *ngIf="!(bookDataSource.loading$ | async)"></mat-progress-bar>

    <mat-table #table [dataSource]="bookDataSource" matSort matSortActive="id" matSortDirection="asc"
      matSortDisableClear aria-label="Elements">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="publisher">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.publisher}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="bookGenre">
        <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.bookGenre.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date created </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="updatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date modified </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.updatedDate | date: 'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a matTooltip="Edit" matTooltipPosition="above" (click)="editItem(row)" role="editButton">
            <i class="material-icons">edit</i>
          </a>
          <a matTooltip="Delete" [hidden]="!authenticationService.getCurrentUser().isAdmin" matTooltipPosition="above"
                    (click)="deleteItem(row)" role="deleteButton">
                    <i class="material-icons">delete</i>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="bookDataSource.totalItemCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>
