.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.cdk-column-name, .cdk-column-author, .cdk-column-publisher, .cdk-column-bookGenre, .cdk-column-createdDate, .cdk-column-updatedDate{
  flex: 1 0 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.cdk-column-actions {
  max-width: 5%;
}

.ng-select.ng-select-book-search ::ng-deep .ng-select-container {
  padding: 0px 10px 0px 0px;
  margin-bottom: 30px;
}

.margin-left-gap-10{
  margin-left: 10px;
}
.margin-bottom-gap-20{
  margin-bottom: 20px;
}
.margin-bottom-gap-5{
  margin-bottom: 5px;
}