<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
  <div class="header">
    <span>Book </span><strong>> {{isEdit ? 'Edit' : 'New'}}</strong>
  </div>
  <mat-divider class="margin-bottom-gap-15"></mat-divider>
  <div class="content">
    <mat-expansion-panel [expanded]="true">
      <form class="mat-white-bg p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form">
        <!--ROW-->
        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
          <!--Name field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="50">
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <!--Author field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="50">
            <input matInput placeholder="Author" formControlName="author">
          </mat-form-field>
        </div>

        <!--ROW-->
        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
          <!--Publisher field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="50">
            <input matInput placeholder="Publisher" formControlName="publisher">
          </mat-form-field>
          <!--PageCount field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="50">
            <input matInput type="number" pattern="[0-9]*" placeholder="Page count" formControlName="pageCount">
          </mat-form-field>
        </div>

        <!--ROW-->
        <div fxLayout="row" fxLayoutGap="10px grid" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <!--Description field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start" fxFlex="100">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>

        <!--ROW-->
        <div class="margin-bottom-gap-15" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <!--Genre list field-->
          <ng-select fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" class="custom-ng-select" fxFlex="100"
            [items]="bookGenreList" [multiple]="false" [closeOnSelect]="true" placeholder="Book genre" appendTo="body"
            bindLabel="name" bindValue="id" formControlName="bookGenre" appearance="outline">
          </ng-select>
        </div>

        <!--ROW-->
        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="start stretch" fxFlex="1 0 auto">
          <!--Created Date field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="50">
            <input matInput placeholder="Created date" formControlName="createdDate">
          </mat-form-field>
          <!--Modified Date field-->
          <mat-form-field fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="50">
            <input matInput placeholder="Updated Date" formControlName="updatedDate">
          </mat-form-field>
        </div>
      </form>
    </mat-expansion-panel>
  </div>

  <!--ACTION BUTTONS -->
  <div fxLayout="row wrap" fxLayoutAlign="end" fxFlex="1 0 auto">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="confirmDialog()" [disabled]="!form.valid">Save</button>
      <button class="margin-left-gap-10" mat-raised-button color="red" (click)="closeDialog()">Close</button>
    </mat-card-actions>
  </div>
</div>
