mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

.mat-expansion-panel {
  padding: 0px 0px 0px;
}
.mat-expansion-panel-body{
  padding: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.header{
  font-size: 20px;
  font-weight: bold;
}

.content{
  padding: 0;
}

.margin-bottom-gap-15 {
  margin-bottom: 15px;
}

.margin-left-gap-10{
  margin-left: 10px;
}
