mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  height: 45px;
  background: #3f51b5;
  color: white;
  padding: 0 17px;
}

.navigation-items span{
  font-size: 14px;
  font-weight: 500;
}

.logo{
  font-size: 16px;
  font-weight: 500;
}

.label{
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}