<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item *ngIf="authenticationService.isAuthenticated()" routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item *ngIf="authenticationService.isAuthenticated()" routerLink="/book-management/overview">
        <mat-icon class="icon">book</mat-icon>
        <span class="label">Book Management</span>
      </a>
      <a mat-list-item *ngIf="authenticationService.isAuthenticated()" (click)="authenticationService.logOut()" type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Log Out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar class="mat-elevation-z6" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="none" >
      <div>
        <a routerLink="/">
          <div class="logo"><i class="material-icons">library_books</i><span> Library manager</span></div>
        </a>
      </div>
      <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="authenticationService.isAuthenticated()">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a *ngIf="authenticationService.isAuthenticated()" routerLink="/" fxLayoutGap="5px">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a *ngIf="authenticationService.isAuthenticated()" routerLink="/book-management/overview" fxLayoutGap="5px">
              <mat-icon class="icon">book</mat-icon>
              <span class="label">Book Management</span>
            </a>
          </li>
          <li>
            <a *ngIf="authenticationService.isAuthenticated()" (click)="authenticationService.logOut()" type="button" fxLayoutGap="5px">
              <mat-icon class="icon">input</mat-icon>
              <span class="label"> Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main fxLayout="column wrap" fxLayoutAlign="start stretch" fxFlex="auto">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
