<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
  <div class="header">
    <span>Delete item</span>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <p>
      Are you sure you want to delete:
      <strong>{{model.name}}?</strong>
    </p>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="end" fxFlex="1 0 auto">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="confirmDialog()">Delete</button>
      <button class="margin-left-gap-10" mat-raised-button color="red" (click)="closeDialog()">Cancel</button>
    </mat-card-actions>
  </div>
</div>
