mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: left;
  word-wrap: break-word;
}

.margin-left-gap-10{
  margin-left: 10px;
}

.header{
  font-size: 20px;
  font-weight: bold;
}

.content{
  margin-bottom: 15px;
}