/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

app-root{
  height: 100%;
}

app-dashboard, app-book-overview, app-login {
  height: 100%;
  width: 100%;
}

.router-content {
  width: 100%;
}

.mat-drawer-container{
  background-color: transparent;
}

.content {
  background-color: white;
  height: 100%;
  overflow-y: auto;
  padding: 2%;
}

/*NG-SELECT CUSTOM STYLE*/
.ng-select {
  padding-bottom: 0;
}

.ng-select.custom-ng-select .ng-dropdown-panel {
  position: absolute;
  top: 55px;
  right: 0;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
    align-self: flex-end;
    bottom: -10px;
  }
}

.ng-select .ng-select-container .ng-value-container {
  align-items: baseline;
  padding: 0.4375em 0;
  border-top: 1.37375em solid transparent;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #ff5722;
}

ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder {
  color: #ff5722;
}

ng-select.ng-invalid.ng-touched .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #ff5722;
}

ng-select.ng-invalid.ng-touched .ng-select-container .ng-value-container {
  color: #ff5722;
}

ng-select.ng-invalid.ng-touched .ng-select-container:after {
  border-bottom: 1px solid rgba(255, 0, 0, 0.42);
  content: '';
  width: 100%;
  bottom: 0;
  position: absolute;
  transition: border-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: #e21e1e;
}

/*NG-SELECT CUSTOM STYLE*/